<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <!-- 配置pojo别名 -->
    <typeAliases>
        <!-- <typeAlias type="cn.itheima.mybatis.po.User" alias="user"/> -->
        <!-- 扫描包的形式创建别名，别名就是类名，不区分大小写 -->
        <package name=" org.fkit.model" />
    </typeAliases>

    <!-- 加载mapper文件 -->
   <!-- <mappers>
        &lt;!&ndash; resource是基于classpath来加载的 &ndash;&gt;
        <mapper resource="sqlmap/user.xml" />
    </mappers>-->
</configuration>